<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  
    <h1><a href="/gossips/new/">Mon super site de gossip, depuis le dossier views !</a></h1>

    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>

  </body>
</html>